---
import { Image } from "astro:assets";
import DFD_sample from "../../assets/html.jpeg";
import TechStacks from "../ui/TechStacks.astro";

const portfolioData = await import("../../content/portfolio.json");
---

<section id="about" class="bg-card/50 py-24" data-aos="fade-up">
  <div class="space-y-10">
    <!-- Headline -->
    <div class="flex flex-col gap-2 text-center">
      <h2>Things you need to know about me</h2>

      <p>
        A quick snapshot of who I am, what I build, and what I’m currently
        focused on.
      </p>
    </div>

    <!-- GRID CARDS -->
    <div class="grid grid-cols-1 gap-4 md:grid-cols-5 md:grid-rows-4">
      <!-- Specialization Box -->
      <div
        class="border-border/50 bg-card group relative overflow-hidden rounded-2xl border shadow-lg md:col-span-3 md:row-span-2"
        data-aos="fade-up"
      >
        <Image
          src={DFD_sample}
          alt="System design diagram"
          class="absolute inset-0 h-full w-full object-cover opacity-80 blur-xs transition-transform duration-700 ease-out group-hover:scale-110"
        />
        <div
          class="from-background via-background/60 absolute inset-0 bg-linear-to-t to-transparent"
        >
        </div>
        <!-- TODO: Make this changing paragraph (eg. Web Developer, Front-end, Back-end and etc...) -->
        <div class="relative flex h-full max-w-2xl items-end p-6">
          <h3>
            {portfolioData.block1}
          </h3>
        </div>
      </div>

      <!-- College Degree Box -->
      <div
        class="border-border/50 bg-card group flex flex-col justify-center space-y-2 rounded-2xl border p-6 shadow-lg md:col-span-2 md:row-span-1"
        data-aos="fade-up"
      >
        <p class="text-muted-foreground uppercase">
          {portfolioData.education[0].top_description}
        </p>
        <h4>
          {portfolioData.education[0].degree}
        </h4>
        <h6>
          {portfolioData.education[0].institution}
        </h6>

        <small>
          {portfolioData.education[0].description}
        </small>
      </div>

      <!-- Open for work box -->
      <div
        class="border-border/50 bg-card group flex flex-col justify-center space-y-2 rounded-2xl border p-6 shadow-lg md:col-span-2 md:row-span-1"
        data-aos="fade-up"
      >
        <div class="flex flex-row items-center gap-3">
          <span class="relative flex size-4">
            <span
              class="absolute inline-flex h-full w-full animate-ping rounded-full bg-green-500 opacity-75"
            ></span>

            <span
              class="relative inline-flex size-4 rounded-full bg-green-500 shadow-[0_0_8px_rgba(34,197,94,0.8)]"
            ></span>
          </span>
          <h4>{portfolioData.work.title}</h4>
        </div>

        <ul class="list-inside list-disc space-y-2 pl-4">
          {
            portfolioData.work.description.map((desc) => (
              <li class="text-foreground font-mono text-base">{desc}</li>
            ))
          }
        </ul>
      </div>

      <!-- Info1 -->
      <div
        class="border-border/50 bg-card group flex flex-col justify-center space-y-2 rounded-2xl border p-6 shadow-lg md:col-span-2 md:row-span-1"
        data-aos="fade-up"
      >
        <h4>Info 1</h4>
      </div>

      <!-- Tech Stacks -->
      <div
        class="border-border/50 bg-card rounded-2xl border p-6 shadow-lg md:col-span-3 md:row-span-2"
        data-aos="fade-up"
      >
        <div>
          <h4>Skills and Tools</h4>
          <p>The tools and technologies that I have experience with:</p>
        </div>
        <div
          class="grid gap-2 pt-2 md:grid-cols-2 lg:grid-cols-3 2xl:grid-cols-5"
        >
          <TechStacks />
        </div>
      </div>

      <!-- info2 -->
      <div
        class="border-border/50 bg-card group flex flex-col justify-center space-y-2 rounded-2xl border p-6 shadow-lg md:col-span-2 md:row-span-1"
        data-aos="fade-up"
      >
        <h4>Info 2</h4>
      </div>
    </div>
  </div>
</section>
