---
import Button from "../ui/Button.astro";
import Github from "@lucide/astro/icons/github";
import Linkedin from "@lucide/astro/icons/linkedin";
import Mail from "@lucide/astro/icons/mail";
import Download from "@lucide/astro/icons/download";
import Image from "astro/components/Image.astro";
import profile from "../../assets/html.jpeg";

const portfolioData = await import("../../content/portfolio.json");

const iconMap: Record<string, any> = {
  Github,
  Linkedin,
  Mail,
};
---

<section class="flex h-screen justify-center" data-aos="fade-up">
  <div class="grid grid-cols-1 gap-6 xl:grid-cols-2">
    <!-- PERSONAL INFO -->
    <div
      class="order-2 content-center space-y-6 text-center xl:order-0 xl:text-left"
    >
      <p class="text-2xl">Hello, I'm</p>

      <div>
        <h1 class="text-foreground">{portfolioData.name}</h1>
        <h3 class="text-muted-foreground">{portfolioData.shortTerm}</h3>
      </div>

      <p class="text-foreground/80">{portfolioData.description}</p>

      <div class="flex flex-col items-center gap-4 xl:flex-row">
        <!-- TODO: Add a download pdf here -->
        <Button
          href="#"
          text="Download CV"
          variant="outline"
          class="flex flex-row gap-2"
        >
          <Download />
        </Button>
        <div class="flex gap-4">
          {
            portfolioData.socials &&
              portfolioData.socials.map((social) => {
                const IconComponent = iconMap[social.icon];
                return (
                  <div class="border-primary hover:bg-primary text-foreground hover:text-primary-foreground rounded-full border-2 p-2 transition-all duration-500 hover:scale-130">
                    <a
                      href={social.url}
                      target="_blank"
                      rel="noopener noreferrer"
                      aria-label={`Link to my ${social.name}`}
                    >
                      {IconComponent ? <IconComponent /> : social.name}
                    </a>
                  </div>
                );
              })
          }
        </div>
      </div>
    </div>

    <!-- MY PICTURE -->
    <div
      class="relative order-1 flex h-full w-full items-center justify-center xl:order-0"
    >
      <!-- Blurred glow circle -->
      <div
        class="pointer-events-none absolute inset-0 flex items-center justify-center"
      >
        <div
          class="h-[285px] w-[285px] rounded-full bg-blue-500/30 blur-3xl xl:h-[498px] xl:w-[498px]"
        >
        </div>rounded-full
      </div>

      <!-- Your actual content goes here -->
      <div class="relative z-10">
        <div
          class="h-[265px] w-[265px] rounded-full border border-neutral-700 bg-neutral-900/80 xl:h-[488px] xl:w-[488px]"
        >
          <Image
            src={profile}
            alt="Profile Picture"
            class="h-full w-full rounded-full object-cover"
          />
        </div>
      </div>
    </div>
  </div>
</section>
